details {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    overflow: hidden;
}

summary {
    display: inline-block;
    padding: 0.25em 0.5em;
    background-color: #f5f5f5;
    border-radius: 0.25em;
    cursor: pointer;
}

details[open] {
    margin-bottom: 1.5em;
}